body{
    /*background-image: url("http://image.xinli001.com/20130816/000018cb189cccf139fee3.jpg");*/
    background-image: url("../image/bg/01.jpg");
    position: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.blaze{
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    display: block;
    background: #DDDDDD;
    opacity: 0.7;
}
.blaze-image{
    width: 160px;
    height: 220px;
}
.blaze-content img{
    position:relative;
    margin-top: 10px;
    width: 140px;
    height: 200px;
}
.stage{
    width: 800px;
    height: 800px;
    margin: 20px auto;
    border: 1px solid;
}
