.blaze{
	height: 20px;
	border: 1px solid;
	line-height: 20px;
    width: 150px;
    text-align: center;
    background: #DDDDDD;
}

.stage{
    width: 800px;
    height: 800px;
    margin: 20px auto;
    border: 1px solid;
}
